---
layout: default
kicker: Community - Blog
message: The Jentrata community is here to help
current-cm: current_page_item
---
<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>

<div class="posted">Posted by <span class="author">{{ page.author }}</span> on {{ page.date | date_to_string }}</div>
<div id="social_share">
	<div id="retweet">
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="jentrata">Tweet</a>
		<script id="deferedjs" type="text/javascript">
			var b = document.createElement('script');
			b.type = 'text/javascript';
			b.src = ('http://platform.twitter.com/widgets.js');
			var a=document.getElementById("deferedjs");
			a.parentNode.insertBefore(b,a);
	</script>
	</div>
	<div id="fblike">
		<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like layout="button_count" show_faces="true" width="100"></fb:like>
	</div>
	<div id="digg">
		<script type="text/javascript">
		(function() {
		var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
		s.type = 'text/javascript';
		s.async = true;
		s.src = 'http://widgets.digg.com/buttons.js';
		s1.parentNode.insertBefore(s, s1);
		})();
		</script>
		<a class="DiggThisButton DiggCompact"></a>
	</div>
	<div id="googleplus">
		<script>
		(function(d, t) {
		var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
		g.async = true;
		g.src = 'https://apis.google.com/js/plusone.js';
		s.parentNode.insertBefore(g, s);
		})(document, 'script');
		</script>
		<g:plusone size="medium"></g:plusone>
	</div>
</div>
<div id="blog">
{{ content }}
</div>
<br/>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'jentrata';

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    var disqus_url = 'http://jentrata.org{{ page.url }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>