<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" class="cufon-active cufon-ready">
<head>
{% include keywords.textile %}
<title>Jentrata {{ page.title }}</title>
{% include head.textile %}
{% include google.textile %}
</head>
<body>
<div id="wide" class="container">
	<div id="top">
    	<a href="http://github.com/jentrata/jentrata-msh"><img style="position: absolute; z-index:2; top: 0; right: 0; border: 0;" src="/images/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    	<div class="wrap">
      	{% include logo.textile %}
      	{% include menu.textile %}
      	<div class="clear"></div>
    	</div>
    	<div id="simple_header">
      		<div class="gradient">
        		<div class="header">
          			<h1>
              		{{ page.kicker }}
          			</h1>
          			<p>
          			{{ page.message }}
          			</p>
        		</div>
      		</div>
    	</div>
	</div>
  	<div id="content" class="sbr"> 
		<div class="content">
    		{{ content }}
    	
    	
    	
    	<div class="clear"></div> 
    	</div>
    	
		<div id="sidebar">
			<div id="recentpostswidget-3" class="widget-container widget_recent_posts"><!--<h3>News</h3>-->
			<ul>
			{% for post in site.categories.sidebar limit:4 %}
				<li>
					<a href="{{ post.web-url }}">
						<img width="67" height="63" src="{{ post.image }}" class="pic_left wp-post-image" alt="Jentrata" title="Jentrata" style="background-color: rgb(255, 255, 255); border-top-color: rgb(213, 213, 213); border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); "/>
						<strong class="news_title">{{ post.title }}</strong>
						<span class="news_short">{{ post.excerpt }}</span>
					</a>
				</li>
			{% endfor %}
			{% if page.url == '/index.html' %}
				<li><h3><strong class="news_title">Recent Blog Posts</strong></h3></li>
			{% for post in site.categories.blog limit:2 %}
				<li>
					<a href="{{ post.url }}">
						<strong class="news_title">{{ post.title }}</strong>
					</a>
					<span class="news_short">
						{{ post.content | strip_html | truncatewords:20 }}
 						<a href="{{ post.url }}" title="Continue Reading">Continue Reading &raquo;</a>
 					</span>
				</li>
			{% endfor %}
			{% endif %}
			</ul>
			</div>		
		</div>
		<div class="clear"></div> 
	</div>
</div>
<!-- End Content -->
<!-- Begin Footer  -->
<div id="footer_lower">
  <div id="footer_info">
    <div id="copyright">Copyright &copy; 2011 <a href="http://www.base2services.com">base2Services</a>. All rights reserved.</div>
    <div id="attr">
      <ul>
        <li><b>
          Stay Connected
          </b></li>
        <li><a href="/atom.xml" class="ico_rss" original-title="RSS Feed"><span class="hover"></span></a></li>
        <li><a href="http://twitter.com/jentrata" class="ico_twitter" original-title="Twitter"><span class="hover"></span></a></li>
      <!--  <li><a href="http://facebook.com/jentrata" class="ico_facebook" original-title="Facebook"><span class="hover"></span></a></li>-->
        <li><a href="http://www.linkedin.com/e/y89hg2-gnxma2yj-55/vgh/3921291/" class="ico_linkedin" original-title="Linkedin"><span class="hover"></span></a></li>
        <li>
			<div id="googleplus">
				<script>
				(function(d, t) {
				var g = d.createElement(t),
					s = d.getElementsByTagName(t)[0];
				g.async = true;
				g.src = 'https://apis.google.com/js/plusone.js';
				s.parentNode.insertBefore(g, s);
				})(document, 'script');
				</script>
				<g:plusone size="medium"></g:plusone>
			</div>        
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- End Footer  -->
</div>
<script type="text/javascript">
    var disqus_shortname = 'jentrata';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% include analytics.textile %}
</body>
</html>